html{
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  background-color: grey;
 
}
nav > a{
  color: whitesmoke;
  text-decoration: none;
  margin-right: 16px;
  padding-top: 15px

}
nav > a{
  margin-right: revert;
}
nav{
  text-align: center;
  padding: 6px;
  border-radius: 2px;
}
h2{
  color: grey;
  text-align: center;
}

.container {
  margin: 16px;
}
#profile {
  background-color: white;
  color: whitesmoke;
  position: relative;
  text-align: center;
}

#profile h1 {
  text-align: center;
  color: grey;
}
#linktag {
  text-align: center;
}
a {
  margin: 5px;
}

.container > h2 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#dynamic-content {
  color: royalblue;
}
#menu{
  z-index: 2;
  display: none;
  position: fixed;
  right: 16px;
  top: 16px;

}
#menudiv{
  position: fixed;
  z-index: 3;
  background: transparent;
}
#mobile-nav{
  display: none;
  height: 150px;
  width: 300px;
  background-color: black;
  margin: auto;
  padding-top: 10px;
  
}
#mobile-nav > ul > li > a{
  text-decoration: none;
  
  
}
#mobile-nav  ul {
  list-style-type: none;
  
}
#mobile-nav  ul li {
  list-style-type: none;
  margin-bottom: 4px;
  
}
@media screen and (max-width: 450px) {
  nav{
    display: none;
  }
  #menu{
    display: revert
  }
  #mobile-nav{
    display: none;
    height: 150px;
    width: 100%;
    background-color: black;
    margin: auto;
    padding-top: 10px;
    
  }
}